

.conteudo{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 5 auto;
  font-size: 15px;
}
.conteudo > div img{
  max-width: 50%;
  display: block;
}

.conteudo > div{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px; 
}
