@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-630px.css");

*{
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}

html{
    font-size: 60%;
}

footer a {
    width: 30%;
    height: 30%;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    bottom: 0;
    width: 100%;
  }